<div class="profile-container">
    <div class="cover-photo"></div>
  
    <div class="profile-header">
      <img src="assets/profile-picture.jpg" alt="Foto de perfil" class="profile-pic">
      <h2>Adrián Muñoz Sánchez</h2>
      <p>&#64;adrim._</p>
    </div>
  
    <div class="profile-content">>
      <div class="profile-sidebar">
        <div class="profile-info">
          <h3>Sobre mí</h3>
          <p>📍 España | 💻 Desarrollador Web | ⚽ Amante del deporte</p>
          <p>🎓 Grado en Desarrollo de Aplicaciones Web</p>
          <p>📧 Contacto: adri8adri8&#64;gmail.com</p>
        </div>
  
        <div class="profile-stats">
          <div>
            <h3>120</h3>
            <p>Seguidores</p>
          </div>
          <div>
            <h3>200</h3>
            <p>Amigos</p>
          </div>
          <div>
            <h3>15</h3>
            <p>Publicaciones</p>
          </div>
        </div>
  
        <div class="profile-friends">
          <h3>Amigos Destacados</h3>
          <div class="friend">
            <img src="/img/amigo1.webp" alt="Amigo 1">
            <p>&#64;luar_lal</p>
          </div>
          <div class="friend">
            <img src="/img/amigo2.jpg" alt="Amigo 2">
            <p>&#64;ntg</p>
          </div>
          <div class="friend">
            <img src="/img/amigo3.webp" alt="Amigo 3">
            <p>&#64;anuel</p>
          </div>
        </div>
      </div>
  
      <div class="profile-main">
        <div class="profile-posts">
          <h3>Publicaciones Recientes</h3>
          <div class="post">
            <img src="assets/post1.jpg" alt="Publicación">
            <p>🎉 ¡Empezando un nuevo proyecto en Angular! #DesarrolloWeb</p>
            <span>Hace 2 días</span>
          </div>
          <div class="post">
            <img src="assets/post2.jpg" alt="Publicación">
            <p>🏋️‍♂️ Entrenando para la próxima competición 💪</p>
            <span>Hace 1 semana</span>
          </div>
        </div>
  
        <div class="profile-gallery">
          <h3>Galería de Fotos</h3>
          <div class="gallery">
            <img src="assets/photo1.jpg" alt="Foto 1">
            <img src="assets/photo2.jpg" alt="Foto 2">
            <img src="assets/photo3.jpg" alt="Foto 3">
          </div>
        </div>
      </div>
    </div>
  </div>
  